<%= javascript_include_tag "jquery" %>
<%= javascript_include_tag "twitterModal" %>
<%= javascript_include_tag "dashboard" %>
<br/>
<h1>Dashboard: <%= @study.title %></h1>
<br/><h4>Your study is currently:</h4>
	<%= form_for [@study] do |f| %>
		<%= hidden_field_tag "parameter", "activate" %>
		<% if @study.is_active == false %>
			<%= f.submit "Inactive", :class=> "btn btn-danger" %>
			<%= hidden_field_tag "is_active", true %>
		<% else %>
			<%= f.submit "Active", :class=> "btn btn-success" %>
			<%= hidden_field_tag "is_active", false %>
		<% end %>
	<% end %>
<br/>
<br/>
<h3>Users</h3>
<%= link_to "Add a User", new_study_access_control_path %>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Email</th>
			<th>Is Admin?</th>
			<th>Can Read?</th>
			<th>Can Write?</th>
			<th>Delete</th>
			<th>Edit</th>
		</tr>
	</thead>
	<tbody>
	<% @study.access_controls.each do |acl| %>
		<tr>
			<td><%= acl.user_email %></td>
			<td><%= acl.is_admin %></td>
			<td><%= acl.can_read %></td>
			<td><%= acl.can_write %></td>
			<td>
				<% if current_user.id != acl.user_id %>	
					<%= form_for [@study,acl] , :html => {:method => :delete} do |f| %>
						<%= hidden_field_tag "access_control_id", acl.user_id %>
						<%= f.submit "Delete", :class=> "btn btn-info" %>
					<% end %>
				<% end %>
			</td>
			<td>
			<% if current_user.id != acl.user_id %>	
				<%= link_to "Edit User", edit_study_access_control_path(acl.study_id, acl.id), :class=> "btn btn-info" %>
			<% end %>
			</td>
		</tr>
	<% end %>
	</tbody>
</table>

<br/>
<br/>
<h3>Forms</h3>
<br/>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Form Name</th>
			<th>Creator</th>
			<th>Last Modified</th>
			<th>Publish</th>
			<th>Open other options</th>
			<th>Public Form Link</th>
		</tr>
	</thead>
	<tbody>
		<% @study.forms.each do |form| %>
			<tr>
				<td><%= form.name %></td>
				<td><%= form.email %></td>
				<td><%= form.updated_at %></td>
				<td><%= form_for [@study,form] do |f| %>
						<%= hidden_field_tag "parameter", "publish" %>
						<% if form.is_published == false %>
							<%= f.submit "Publish", :class=> "btn btn-danger" %>
							<%= hidden_field_tag "publish", true %>
						<% else %>
							<%= f.submit "Published", :class=> "btn btn-success" %>
							<%= hidden_field_tag "publish", false %>
						<% end %>
					<% end %></td>
				<td><input type="button" class="btn btn-info modal-btn" value="Open Form Options" id="<%= form.id %>"/></td>
				<td>
					<% if form.is_published %>
						<%= link_to "Public Form Location", public_study_form_path(@study, form), :class => "btn btn-info" %>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
<% @study.forms.each do |form| %>
	<div class="modal hide <%= form.id %>">
		<div class="modal-header">
			<%= form.name %> : Options
		</div>
		<div class="modal-body">
			<h4>Below are some options for interacting with this form and it's data.</h4>
			<ul class="unstyled">
				<li style="margin:5px;"><%= link_to "Print a blank form", print_study_form_path(@study, form, :format => :pdf), :class => "btn btn-info" %></li>				
				<li style="margin:5px;"><%= link_to "Edit Form", generate_form_builder_link(form.id), :class=> "btn btn-info" %></li>
				<li style="margin:5px;"><%= link_to "Embed", embed_study_form_path(form.study_id, form.id),:class=> "btn btn-info" %></li>
				<li style="margin:5px;"><%= link_to "Invite", invite_study_form_path(form.study_id, form.id), :class => "btn btn-info" %></li>
				<li style="margin:5px;"><%= link_to "Print all data", printall_study_form_path(@study.id, form.id), :class => "btn btn-info" %></li>
				<li style="margin:5px;">
					<%= link_to "Create A Reminder", study_form_reminders_path(@study.id, form.id), :class => "btn btn-info" %>
				</li>
			</ul>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
		</div>
	</div>
<% end %>
<br/>
<br/>
<h3>Forms</h3>
<br/>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Form Name</th>
			<th>Number of Subjects</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<% @data_sets.each do |form| %>
				<td><%= form.form_name %></td>
				<td><%= form.rec_count %></td>
			<% end %>
		</tr>
	</tbody>
</table>
