<br/>
<h1>Dashboard</h1>
<br/>
<h3>Users</h3>
<%= link_to "Add a User", new_study_access_control_path %>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Email</th>
			<th>Is Admin?</th>
			<th>Can Read?</th>
			<th>Can Write?</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
	<% @users_in_study.each do |acl| %>
		<tr>
			<td><%= acl.user.email %></td>
			<td><%= acl.is_admin %></td>
			<td><%= acl.can_read %></td>
			<td><%= acl.can_write %></td>
			<td>
				<% if current_user.id != acl.user_id %>	
					<%= form_for [@study,acl] , :html => {:method => :delete} do |f| %>
						<%= hidden_field_tag "access_control_id", acl.user_id %>
						<%= f.submit "Delete", :class=> "btn btn-info" %>
					<% end %>
				<% end %>
			</td>
		</tr>
	<% end %>
	</tbody>
</table>

<br/>
<br/>
<h3>Forms</h3>
<br/>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Form Name</th>
			<th>Creator</th>
			<th>Last Modified</th>
			<th>Publish</th>
			<th>Enable Mobile</th>
			<th>Edit Form Link</th>
		</tr>
	</thead>
	<tbody>
		<% @forms.each do |form| %>
			<tr>
				<td><%= form.name %></td>
				<td><%= form.user.email %></td>
				<td><%= form.updated_at %></td>
				<td>
					<%= form_for [@study,form] do |f| %>
						<%= hidden_field_tag "parameter", "publish" %>
						<% if form.is_published == false %>
							<%= f.submit "Publish", :class=> "btn btn-danger" %>
							<%= hidden_field_tag "publish", true %>
						<% else %>
							<%= f.submit "Published", :class=> "btn btn-success" %>
							<%= hidden_field_tag "publish", false %>
						<% end %>
					<% end %>
				</td>
				<td>
					<%= form_for [@study,form] do |f| %>
						<%= hidden_field_tag "parameter", "mobile" %>
						<% if form.is_mobile == false %>
							<%= f.submit "Enable", :class=> "btn btn-danger" %>
							<%= hidden_field_tag "mobile", true %>
						<% else %>
							<%= f.submit "Disable", :class=> "btn btn-success" %>
							<%= hidden_field_tag "mobile", false %>
						<% end %>
					<% end %>
				</td>
				<td><%= link_to "Edit Form", generate_form_builder_link(form.id), :class=> "btn btn-info" %></td>
			</tr>
		<% end %>
	</tbody>
</table>