<h1>Create a new access control</h1>

<%= form_for @acl, :url => study_access_controls_path do |newAcl| %>

<%= newAcl.label :user_id %>
<%= newAcl.text_field :user_id %>
<br/>
<br/>

<%= newAcl.label :is_admin %>
<%= newAcl.check_box :is_admin %>
<br/>
<br/>
<%= newAcl.label :can_read %>
<%= newAcl.check_box :can_read %>
<br/>
<br/>
<%= newAcl.label :can_write %>
<%= newAcl.check_box :can_write %>
<br/>
<br/>
<%= newAcl.submit "Create" %>

<% end %>
