<h6>Sign Up</h6>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
	<%= f.text_field :email, :placeholder => "E-Mail Address", :class => "span12" %>
  <%= f.password_field :password, :placeholder => "Password", :class => "span12" %>
 	<%= f.password_field :password_confirmation, :placeholder => "Password Confirmation", :class => "span12" %>
  <%= f.submit "Sign up", :class => "btn-glow primary signup" %>
<% end %>