
	<% @forms.each do |form| %>
		<%= form_tag(study_form_index_path, :method => "post") do %>
		<h3><%=form.name %></h3>
		<br/><br/>
		<%= hidden_field_tag("form_id", form.id) %>
		<% form.meta_data.each do |field|%>
			<%= field %>
		<% end %>
		<%= submit_tag("Submit", :class=>"btn btn-info") %>
	<% end %>
	<br/>
	
<% end %>