
<%= form_tag(study_form_index_path, :method => "post") do %>
	<h3><%=@form.name %></h3>
	<br/><br/>
	<%= hidden_field_tag("form_id", @form.id) %>
	<% @form.fields.each do |field|%>
		<%= field.metadata["question"] %><br/>
		<%= convert_form_data_type(field.metadata) %><br/>
		<%= field.metadata["datapoint"] %><br/><br/>
	<% end %>
	<%= submit_tag("Submit", :class=>"btn btn-info") %>
<% end %>
<br/>
