<fieldset class="span10">
	<legend>Create a Study</legend>
<%= form_for @study, :html=>{:class=>"form-horizontal well"} do |postForm| %>
<div class="control-group">
  <%= postForm.label :title, :class=>"control-label" %>
  <div class="controls">
  	<%= postForm.text_field :title %>
  </div>
</div>

<div class="control-group">
	<%=  postForm.label :description, :class=>"control-label" %>
	<div class="controls">
		<%=  postForm.text_area :description, :size => "400x8", :style=>"width:461px;" %>
	</div>
</div>
<div class="form-actions">
  <%= postForm.submit "Create", :class => "btn btn-info" %>
</div>

<% end %>
</fieldset>