<% content_for(:crumbs) do %>
	<ul class="breadcrumb">
  		<li class="active">Subjects</li>
	</ul>
<% end %>
 <!--	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Form Name</th>
				<th>Number of Entries</th>
				<th>View Subjects</th>
			</tr>
		</thead>
		<tbody>
			<% @forms.each do |form| %>
				<tr>
					<td><%= form.name %></td>
					<td><%= form.data_sets.count %></td>
					<td><%= link_to "View Subjects", study_subject_path(form.study_id,form.id), :class => "btn btn-info" %></td>
				</tr>
			<% end  %>
		</tbody>
	</table>-->
<br/>
<table class="table">
		<thead>
			<tr>
				<th>Subject Id</th>
				<th>Number of Entries</th>
			</tr>
		</thead>
		<tbody>
			<% @unique_forms.each do |form| %>
				<tr>
					<td><%= form %></td>
					<td><%= link_to "View", study_subject_path(params[:study_id], form) %></td>
				</tr>
			<% end  %>
		</tbody>
	</table>