<% content_for(:crumbs) do %>
	<ul class="breadcrumb">
		<li>
    		<%= link_to "All Subjects", study_subjects_path %> <span class="divider">/</span>
  		</li>
  		<li class="active">Subject <%= params[:id] %></li>
	</ul>
<% end %>


<table class="table">
		<thead>
			<tr>
				<th>Form Name</th>
				<th>Edit Record</th>
				<th>Print Record</th>
				<th>Last Update</th>
			</tr>
		</thead>
		<tbody>
			
			<% @data_sets.each do |data_set| %>
				<tr>
					<td><%= link_to "View #{data_set.form.name}", study_record_path(data_set.study_id, data_set.id) %></td>
					<td><%= link_to "Edit", edit_study_record_path(data_set.study_id, data_set.id) %></td>
					<td><%= link_to "Print", print_study_record_path(data_set.study_id, data_set.id, :format => :pdf) %></td>
					<td><%= data_set.updated_at.to_time.strftime("%m/%d/%Y") %></td>
				</tr>
			<% end %>
			
		</tbody>
	</table>



