
<h1>Data Explorer</h1>
<br/>
<br/>
<div id="explorer" style="width: 600px; height: 500px; overflow-x: hidden; overflow-y: hidden; outline-width: 0px; outline-style: initial; outline-color: initial; position: relative; "></div>
<%= stylesheet_link_tag "slick.grid.css" %>
<%= stylesheet_link_tag "slick-default-theme" %>
<%= stylesheet_link_tag "jquery-ui" %>
<%= stylesheet_link_tag "data_explorer" %>
<%= javascript_include_tag "jquery.js" %>
<%= javascript_include_tag "jquery-ui.min.js" %>
<%= javascript_include_tag "jquery.event.drag-2.0.min.js" %>
<%= javascript_include_tag "slick.core.js" %>
<%= javascript_include_tag "slick.grid.js" %>
<!--<%= javascript_include_tag "data_explorer.js" %>-->
<script>
	var grid;
	var columns_text = '<%= get_data_column(@form.fields).html_safe %>';
	var columns = JSON.parse(columns_text);
	var options = {
	enableCellNavigation:true,
	enableColumnReorder:false
}

$(function(){
	var data = [];
	

	grid = new Slick.Grid("#explorer", data, columns, options);

	});
</script>
