
<h1>Data Explorer</h1>
<br/>
<br/>
<div id="explorer" style="width: 600px; height: 500px; overflow-x: hidden; overflow-y: hidden; outline-width: 0px; outline-style: initial; outline-color: initial; position: relative; "></div>
<%= stylesheet_link_tag "application" %>
<%= javascript_include_tag "application" %>
<!--<%= javascript_include_tag "data_explorer.js" %>-->
<script>
	var grid;
	var columns_text = '<%= get_data_column(@form.fields).html_safe %>';
	var columns = JSON.parse(columns_text);
	var options = {
	enableCellNavigation:true,
	enableColumnReorder:false
}

$(function(){
	var data_points = '<%= get_data(@uuids).html_safe %>';
	var data = JSON.parse(data_points);

	grid = new Slick.Grid("#explorer", data, columns, options);

	});
</script>
