
<%= form_for [@study, @subj],:html=>{:class=>"form-horizontal well"} do |newAcl| %>

<div class="control-group">
  <%= newAcl.label :identifier, :class=>"control-label" %>
  <div class="controls">
  	<%= newAcl.text_field :identifier %>
  </div>
</div>

<div class="control-group">
  <%= newAcl.label :height, :class=>"control-label" %>
  <div class="controls">
    <%= newAcl.text_field :height %>
  </div>
</div>
<div class="control-group">
  <%= newAcl.label :height_units, :class=>"control-label" %>
  <div class="controls">
    <%= newAcl.text_field :height_units %>
  </div>
</div>
<div class="control-group">
  <%= newAcl.label :weight, :class=>"control-label" %>
  <div class="controls">
    <%= newAcl.text_field :weight %>
  </div>
</div>
<div class="control-group">
  <%= newAcl.label :weight_units, :class=>"control-label" %>
  <div class="controls">
    <%= newAcl.text_field :weight_units %>
  </div>
</div>
<div class="control-group">
  <%= newAcl.label :heart_rate, :class=>"control-label" %>
  <div class="controls">
    <%= newAcl.text_field :heart_rate %>
  </div>
</div>
<div class="control-group">
  <%= newAcl.label :blood_pressure_diastolic, :class=>"control-label" %>
  <div class="controls">
    <%= newAcl.text_field :blood_pressure_diastolic %>
  </div>
</div>
<div class="control-group">
  <%= newAcl.label :blood_pressure_systolic, :class=>"control-label" %>
  <div class="controls">
    <%= newAcl.text_field :blood_pressure_systolic %>
  </div>
</div>
<div class="control-group">
  <%= newAcl.label :pulse_ox, :class=>"control-label" %>
  <div class="controls">
    <%= newAcl.text_field :pulse_ox %>
  </div>
</div>
<div class="form-actions">
  <%= newAcl.submit "Create", :class => "btn btn-info" %>
</div>

<% end %>

