<table>
	<tr>
		<td>Identifier</td>
		<td>Height</td>
		<td>Height Units</td>
		<td>Weight</td>
		<td>Weight Units</td>
		<td>Heart Rate</td>
		<td>Blood Pressure Diastolic</td>
		<td>Blood Pressure Systolic</td>
		<td>Pulse Ox</td>
	</tr>
	<% @subjects.each do |subject| %>
		<tr>
			<td><%= subject.identifier %></td>
			<td><%= subject.height %></td>
			<td><%= subject.height_units %></td>
			<td><%= subject.weight %></td>
			<td><%= subject.weight_units %></td>
			<td><%= subject.heart_rate %></td>
			<td><%= subject.blood_pressure_diastolic %></td>
			<td><%= subject.blood_pressure_systolic %></td>
			<td><%= subject.pulse_ox %></td>
		</tr>
	<% end %>
</table>