<!DOCTYPE html>
<html>
<head>
  <title>Studycache</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="padding-top:40px;">
	<div class="topbar">
		<div class="topbar-inner">
			<div class="container">
				<a class="brand" href="/">StudyCache</a>
				<ul class="nav">
					<%= yield :links %>
				</ul>
			</div>
		</div>
	</div>		
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
<br/>
<%= yield %>

</body>
</html>
