<!DOCTYPE html>
<html>
<head>
  <title>StudyCache</title>
  
  <%= yield :css_scripts %>
  <%= csrf_meta_tags %>
  
</head>
<body>
   <div class="navbar navbar-inverse">
       <div class="navbar-inner">
          <a class="brand" href="<%= get_root_url %>">StudyCache?</a>

          <ul class="nav pull-right">
                <li id="fat-menu" class="dropdown">
                    <a href="/users/sign_out" role="button" class="logout">
                        <span class="navbar_icon"></span>
                    </a>
                </li>
            </ul>
       </div>
    </div>       
 <div id="sidebar-nav">
  <ul id="dashboard-menu">
    <%= yield :links %>
  </ul>
 </div> 
 <div class="content">

 	<% flash.each do |key,msg| %>
		<div>
			<div class="alert alert-error"><%= msg %></div>
		</div>
	<% end %>
  <div class="container-fluid">

    <div id="pad-wrapper">
      <%= yield :crumbs %>
 	    <%= yield %>
    </div>
  </div>
  <%= yield :bottom_scripts %>
 </div>

</body>
</html>
