<!DOCTYPE html>
<html>
<head>
  <title>Studycache</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
   <div class="navbar navbar-fixed-top">
       <div class="navbar-inner">
           <div class="container">
               <a class="brand" href="/">StudyCache</a>
               	<ul class="nav">
                   <%= yield :links %>
               	</ul>
           </div>
       </div>
    </div>        
<body>
 <div class="container">
 	<br/>
 	<br/>
 	<% flash.each do |key,msg| %>
		<div>
			<div class="alert alert-success"><%= msg %></div>
		</div>
	<% end %>
 	<%= yield %>
 </div>

</body>
</html>
