<% content_for(:links) do %>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
		      Studies
		      <b class="caret"></b>
		    </a>
		    <ul class="dropdown-menu">
		      <% get_user_acls.each do |acl| %>
				<% if acl.study_is_active || acl.user_id == acl.study_user_id %>
	      			<li><%= link_to acl.study.title, study_dashboard_index_path(acl.study) %> </li>
	      		<% end %>
		      <% end %>
		      <li class="divider"></li>
		      <li><%= link_to "New Study", new_study_path %></li>
		    </ul>
		</li>
		<li><%= link_to "My Profile", profile_index_path %></li>
<% end %>

<% content_for(:logout) do %>
    <li><a href="/users/sign_out">Logout</a></li>
<% end %>

<% content_for(:relevant_js) do %>
	<%= javascript_include_tag "jquery" %>
	<%= javascript_include_tag "bootstrap-dropdown" %>
	<%= javascript_include_tag "dropdown" %>
<% end %>

<%= render :file => "layouts/application" %>