<% content_for(:links) do %>
		<li><%= link_to "Dashboard", study_dashboard_index_path %></li>
		<li><%= link_to "Announcements", study_announcements_path %></li>
		<li><%= link_to "Subjects", study_example_subjects_path %>
		</li>
		<!--<li><%= link_to "Questions", study_questions_path %></li>
		<li><%= link_to "Create New Study", new_study_path %></li>-->
		<li><%= link_to "Form Builder", study_form_builder_index_path %></li>
		<li><%= link_to "Forms", study_form_index_path %></li>
<% end %>

<% content_for(:logout) do %>
    <li><a href="/users/sign_out">Logout</a></li>
<% end %>

<%= render :file => "layouts/application" %>